# Módulo 2
## 2.1 Variáveis
### Q1.

In [ ]:
print("a c e f")

### Q2 — Script 1

In [ ]:
print("7")

### Script 2

In [ ]:
print("Erro na linha 1: variáveis n1 e n2 não foram definidas.")

### Script 3

In [ ]:
print("11")

### Script 4

In [ ]:
print("Erro na linha 1: nome de variável inválido (espaço não permitido).\nErro na linha 2: não pode atribuir valor a um número.\nErro na linha 3: mesmo erro de nome inválido.")

### Q3 — Média de três números

In [ ]:
num1 = 8
num2 = 7
num3 = 9
media = (num1 + num2 + num3) / 3
print(media)

### Q4 — Converter km/h para m/s

In [ ]:
velocidade_kmh = 90
velocidade_ms = velocidade_kmh / 3.6
print(velocidade_ms)

### Q5 — Mostrar nome

In [ ]:
nome = "Yasmin"
print("Meu nome é:")
print(nome)